<app-navbar></app-navbar>
<div>
  <div class="row">
    <div class="col-xs-12">

      <div class="col-xs-12">
        <div class="col-xs-12">
          <span class="col-xs-12">Question: {{qnProgress+1}}</span>
          <p>{{qns[qnProgress].Question}}</p>
        </div>
        <div class="col-xs-12">
          <ul class="col-xs-12">
            <ng-container *ngFor="let option of qns[qnProgress].Options;let i = index">
              <div class="checkbox">
                <label>
                  <input type="checkbox" (click)="Answer(qns[qnProgress].Id,option)">
                  {{option}}
                </label>
              </div>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>