<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="center">
        <h2>Welcome - Quiz Registration</h2>
      </div>
      <div class="col-xs-12">
        <form #registerForm="ngForm" (ngSubmit)="OnSubmit(Name.value)">
          <div class="row">
            <div class="col-xs-12">
              <label for="Name">Name</label>
              <input type="text" name="Name" #Name ngModel required>

            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn-large btn-submit" type="submit" [disabled]="!registerForm.valid">Start</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>